body {
	background: #fdd3ff;
	font-family: "Roboto Condensed", sans-serif;
}

img {
	box-shadow: 2px 7px 72px -15px rgba(99, 96, 99, 0.49);
	border-radius: 1%;
}

/* Navbar */
#nav-main {
	font-size: 1.5rem;
	font-weight: 100;
	padding: 0 20px;
}

#nav-main .navbar-brand {
	color: #dd0426;
	font-weight: 300;
}

#nav-main .nav-link {
	color: #580e13;
}

#nav-main .nav-link:hover {
	color: #dd0426;
}

/* Hero Section */
#hero-heading span {
	color: #dd0426;
}

#hero-heading h1 {
	font-weight: 100;
	font-size: 3.5rem;
	color: #580e13;
}

#hero .hero-img {
	padding: 0;
}
/* Main Section */

#main h2 {
	color: #dd0426;
	font-weight: 100;
	font-size: 2.5rem;
}

#main p {
	color: #580e13;
	font-size: 1.5rem;
	font-weight: 100;
}

#main img {
	box-shadow: none;
}

#main .main-content {
	margin-top: 100px;
}

#main .main-img {
	padding: 0;
}

/* Media Queries */
@media (max-width: 1200px) {
	#hero-heading h1 {
		font-size: 3rem;
	}
}
